<html>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Source Sans Pro, sans-serif;
            color: #1d1d1b;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        p,
        a {
            word-wrap: break-word;
            overflow-wrap: break-word;
            text-align: left;
            width: 100%;
        }
    </style>

    <center>
        <div
            style="
                display: block;
                width: min(60%, 100%);
                max-width: 58ch;
                overflow: hidden;
            "
        >
            <header style="width: 100%; margin: 0.5rem 0">
                <center>
                    <img
                        src="https://traineesqd.web.app/assets/logo.png"
                        alt="TraineeSQD Logo"
                        style="
                            display: block;
                            max-width: 196px;
                            aspect-ratio: 1;
                            border-radius: 8px;
                        "
                    />
                </center>
            </header>

            <main style="max-width: 56ch">
                <h2 style="text-align: center; max-width: 32ch">
                    We recieved a password reset request!
                </h2>
                <div style="display: block; text-align: left">
                    <p>
                        Hello, {{name}}! We recieved a request to reset a
                        password for your account.
                    </p>
                    <p>Otherwise, visit this link to reset your password:</p>
                    <a href="{{link}}">{{link}}</a>
                    <p style="font-style: italic">
                        If it wasn't you, you can ignore this message.
                    </p>
                </div>
            </main>

            <footer style="text-align: right; font-weight: 600">
                Sencirely, yours<br />
                TraineeSQD Team
            </footer>
        </div>
    </center>
</html>
